
<% if notice %>
<div id="notice"> <%= notice %></div>
<% end %>

<h1>Pragmatic Store</h1> 

<% if session[:counter] > 5 %>
Accessed : <%= pluralize(session[:counter], "time") %>
<% end %>

<% cache ['store', Product.latest] do %>
<% @products.each do |prod| %>
	<% cache ['entry', prod] do %>
	<div class="entry">
		<%= image_tag(prod.image_url) %>
		<h3><%= prod.title %></h3>
		<h5><%= sanitize(prod.desc) %></h5>
		<div class="price_line" style="margin-left:100px">
			<span class="price"><%= number_to_currency(prod.price) %></span>
			<%= button_to "Add To Cart", line_items_path(product_id: prod.id), remote: true %>
		</div>
	</div>
   <% end %>
 <% end %>
<% end %>

<style type="text/css">
	.price { font-size:large;}

</style>